<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-konnectedpay"
    version="0.1.4-alpha">

    <engines>
        <engine name="cordova-android" version=">=4.0.0" />
        <engine name="cordova-ios" version=">=3.0.0" />
    </engines>

    <name>KonnectedPay</name>
    <author>TJ Woon (tjwoon@appxtream.com)</author>
    <description>A Cordova plugin to accept payments using the KonnectedPay payment gateway.</description>
    <license>Apache 2.0</license>
    <keywords>payment,payment gateway,konnected,konnectedpay,konnected pay</keywords>

    <js-module src="www/konnectedpay.js" name="KonnectedPay">
        <clobbers target="konnectedpay" />
    </js-module>

    <platform name="android">
        <framework src="android/build-extras.gradle" custom="true" type="gradleReference" />
        <framework src="com.nexstream.konnectedsdk:konnectedpaysdk:1.0.2" />
        <source-file src="android/my.com.nexstream.konnectedpay/KonnectedPayCordova.java" target-dir="src/my/com/nexstream/konnectedpay" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="KonnectedPay">
                <param name="android-package" value="my.com.nexstream.konnectedpay.KonnectedPayCordova"/>
            </feature>
            <access origin="https://*.appxtream.com" />
        </config-file>
    </platform>

    <platform name="ios">

    </platform>

</plugin>
