<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-konnectedpay"
    version="0.1.0">

    <engines>
        <engine name="cordova-android" version=">=4.0.0" />
        <engine name="cordova-ios" version=">=3.0.0" />
    </engines>

    <name>KonnectedPay</name>
    <author>TJ Woon (tjwoon@appxtream.com)</author>
    <description>A Cordova plugin to accept payments using the KonnectedPay payment gateway.</description>
    <license>Apache 2.0</license>
    <keywords>payment,payment gateway,konnected,konnectedpay,konnected pay</keywords>

    <js-module src="www/konnectedpay.js" name="KonnectedPay">
        <clobbers target="konnectedpay" />
    </js-module>

    <platform name="android">
        <!-- KonnectedPay Android SDK dependencies -->
        <framework src="com.android.support:appcompat-v7:23.1.1" />
        <framework src="com.google.code.gson:gson:2.2.+" />
        <!-- KonnectedPay Android SDK files -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
            <activity android:name="com.nexstream.konnectedsdk.PaymentActivity" />
        </config-file>
        <resource-file src="android/activity_payment.xml" target="res/layout/activity_payment.xml" />
        <source-file src="android/com.nexstream.konnectedsdk/Payment.java" target-dir="src/com/nexstream/konnectedsdk" />
        <source-file src="android/com.nexstream.konnectedsdk/PaymentActivity.java" target-dir="src/com/nexstream/konnectedsdk" />
        <source-file src="android/com.nexstream.konnectedsdk/entity/Token.java" target-dir="src/com/nexstream/konnectedsdk/entity" />
        <source-file src="android/com.nexstream.konnectedsdk/exception/KonnectedException.java" target-dir="src/com/nexstream/konnectedsdk/exception" />
        <source-file src="android/com.nexstream.konnectedsdk/utils/HttpRequest.java" target-dir="src/com/nexstream/konnectedsdk/utils" />
        <!-- KonnectedPayCordova plugin -->
        <source-file src="android/my.com.nexstream.konnectedpay/KonnectedPayCordova.java" target-dir="src/my/com/nexstream/konnectedpay" />
    </platform>

    <platform name="ios">

    </platform>

</plugin>
